@page
@model IndexModel
@{
    ViewData["Title"] = "SimWeb";
}

<h2 id="demo">Aplikacja demonstracyjna Sim Web</h2>
<p class="desc">Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>

<p class="desc">Mapa typu BigTorusMap</p>
<p class="desc">
    Sekwencja ruchów: 
    <b>dlrludluddlrulr</b>
</p>

<div id="map-div">
    <img src="/img/map.jpg" alt="Mapa" class="map-img">
</div>